<!doctype html>
<html lang="ru">
  <head>
    <title>
        {{range $index, $element := .NavData}}
            {{$element.Name}} :
        {{end}}
    </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/i/bootstrap.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/i/style.css">
    <link rel="stylesheet" href="/i/fancybox/jquery.fancybox.css" type="text/css" media="screen">

    <script src="/i/jquery-3.2.0.min.js"></script>
    <script src="/i/popper.min.js"></script>
    <script src="/i/bootstrap.min.js"></script>
    <script src="/i/shortcut.js"></script>


    <script type="text/javascript">
        $(document).ready(function() {
          $("a.fancyimage").fancybox();
        });
    </script>
    <script type="text/javascript" src="/i/fancybox/jquery.fancybox.pack.js"></script>

  </head>

  <body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <nav aria-label="breadcrumb" role="navigation">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    {{range $index, $element := .NavData}}
                        {{if $element.Current}}
                            <li class="breadcrumb-item active" aria-current="page">{{.Name}}</li>
                        {{else}}
                            <li class="breadcrumb-item"><a href="/{{.Href}}">{{.Name}}</a></li>
                        {{end}}
                    {{end}}
                  </ol>
                </nav>
            </div>
        </div>
        <div class="row">

        {{range $index, $element := .FolderData}}
            {{if eq $element.IsDir 0}}
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2"><center>
                <a href="{{.Name}}/">
                        <img class="img-responsive custom-folder-img" src="/i/icon-folder.png">
                        {{.Name}}
                    </a></center>
                </div>
            {{else if eq $element.IsDir 1}}
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2"><center>
                <a href="{{.Name}}/">
                        <img class="img-responsive custom-folder-img" src="/i/icon-folder.png">
                        {{.Name}}
                    </a></center>
                </div>
            {{else if eq $element.IsDir 2}}
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2"><center>
                <a class="fancyimage" data-fancybox-group="group" href="{{.Name}}">
                        <img class="img-responsive img-thumbnail" src="{{.Name}}?thumbnail" {{if $element.NeedToRefresh}}id="torefresh"{{end}}>
                    </a></center>
                </div>
            {{else}}
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                    <div style="height: 118px;">
                    <center>
                    <img class="img-responsive custom-folder-img" src="/i/icon-unknown.png">
                        {{.Name}}
                    </center>
                    </div>
                </div>
            {{end}}

			{{ if each 12 $index}}
				</div>
				<div class="row">
			{{ end }}

		{{end}}
        </div>
        <div class="row">
			<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                {{if ne .ArrowPrev 0}}
                    <a href="?p={{.ArrowPrev}}"><span class="glyphicon glyphicon-chevron-left custom-arrow-size"></span></a>
                {{else}}
                    <span class="glyphicon glyphicon-chevron-left custom-arrow-size custom-arrot-disabled"></span>
                {{end}}
            </div>
			<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8"><br><center>
			{{range $index, $element := .PagesData}}
				{{if $element.Current}}
					<b>{{.Name}}</b>&nbsp;&nbsp;
				{{else}}
					<a href="?p={{.Name}}">{{.Name}}</a>&nbsp;&nbsp;
				{{end}}
			{{end}}
			</center></div>
			<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="text-align: right;">
                {{if ne .ArrowNext 0}}
                    <a href="?p={{.ArrowNext}}"><span class="glyphicon glyphicon-chevron-right custom-arrow-size"></span></a>
                {{else}}
                    <span class="glyphicon glyphicon-chevron-right custom-arrow-size custom-arrot-disabled"></span>
                {{end}}
            </div>
		</div>




    </div>

    <script type="text/javascript">
        {{if ne .ArrowNext 0}}
            shortcut.add("Ctrl+Right",function() {
                window.location.href = '?p={{.ArrowNext}}';
            });
        {{end}}
        {{if ne .ArrowPrev 0}}
            shortcut.add("Ctrl+Left",function() {
                window.location.href = '?p={{.ArrowPrev}}';
            });
        {{end}}
    </script>
  </body>
</html>